
@{
    Layout = null;
}

<section id="mu-from-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-from-blog-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Din blog</h2>
                        <p>Aici publicam unele idei din blogul nostru</p>
                    </div>
                    <!-- end title -->
                    <!-- start from blog content   -->
                    <div class="mu-from-blog-content">
                        <div class="row">
                            @{
                                var bobj = Model.BlogObj;

                                foreach (var b in bobj)
                                {
                                    <div class="col-md-4 col-sm-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img src="@b.Blog_Img" alt="img"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">@b.Blog_Title</a></h3>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">@b.Blog_Author</a>
                                                <a href="#">@b.Blog_Date</a>
                                                <span><i class="fa fa-comments-o"></i>@b.Blog_Comm</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>@b.Blog_Descript</p>
                                                <a class="mu-read-more-btn" href="#">Citeste mai mult</a>
                                            </div>
                                        </article>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- end from blog content   -->
                </div>
            </div>
        </div>
    </div>
</section>