@{
    Layout = "~/Views/Shared/_AddProdLayout.cshtml";
    ViewBag.Title = "Index";
}

@model eUseControl.Web.Models.AddedProduct

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { @id = "AdminForm" }))
                    {
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <!--<form action="" class="tm-edit-product-form">-->

                            <div class="form-group mb-3">
                                @Html.LabelFor(m => m.ProdName, new { @for = "name" })
                                @Html.TextBoxFor(m => m.ProdName, new
                                {
                                   value = "",
                                   name = "name",
                                   id = "name",
                                   @class = "form-control validate",
                                   type = "text",
                                })
                                @Html.ValidationMessageFor(m => m.ProdName)

                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(m => m.ProdDescription, new { @for = "description" })
                                @Html.TextAreaFor(m => m.ProdDescription, new
                                {
                                    @class = "form-control validate",
                                    rows = "3"
                                })
                                @Html.ValidationMessageFor(m => m.ProdDescription)
                            </div>
                            <div class="form-group mb-3">
                                @Html.LabelFor(m => m.ProdPrice, new { @for = "price" })
                                @Html.TextBoxFor(m => m.ProdPrice, new
                                {
                                   value = "",
                                   name = "price",
                                   id = "price",
                                   @class = "form-control validate",
                                   type = "text",
                                })
                            </div>
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    @Html.LabelFor(m => m.Duration, new { @for = "duration" })
                                    @Html.TextBoxFor(m => m.Duration, new
                                    {
                                       name = "duration",
                                       id = "duration",
                                       @class = "form-control validate",
                                       type = "text",
                                    })
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="stock">
                                        Units In Stock
                                    </label>
                                    <input id="stock"
                                           name="stock"
                                           type="text"
                                           class="form-control validate"
                                           required />
                                </div>
                            </div>



                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="tm-product-img-dummy mx-auto">
                                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                                   onclick="document.getElementById('fileInput').click();"></i>
                            </div>
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" type="file" style="display:none;" />
                                <input type="button"
                                       class="btn btn-primary btn-block mx-auto"
                                       value="UPLOAD PRODUCT IMAGE"
                                       onclick="document.getElementById('fileInput').click();" />
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
                        </div>
                    }                
                </div>
            </div>
        </div>
    </div>
</div>